p {
    background-color: aqua;
    /* height: 100px;
    width: 100px; */
}

button {
    background-color: blueviolet;
    height: 20px;
    width: 100%;
    position: relative;
}

body {
    background-color: goldenrod;
}